@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: Onest, sans-serif;
}

:root {
  --bg-primary-color: white;
  --bg-second-color: #fafafa;
  --contrast-color: #334155;
  --detail-color: #7843e9;
  --fade-color: #7843e952;

  --max-width-page: 850px;
}

.background {
  height: 100vh;
  z-index: -2;
  position: absolute;
  width: 100%;
  top: 0;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    var(--fade-color),
    hsla(0, 0%, 100%, 0)
  );
}

/*#region GENERIC */

.purple {
  color: var(--detail-color);
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--contrast-color);
}

/*#endregion */

/*#region HEADER */

.header-container {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.6s;
  backdrop-filter: blur(10px);
}

.header-container header {
  max-width: 890px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.header-container header .logo img {
  width: 80px;
  padding-top: 5px;
  cursor: pointer;
}

.header-container header ul {
  display: flex;
  list-style: none;
  gap: 45px;
}

.header-container header nav ul li {
  transition: all 0.6s;
}

.header-container header nav ul li a {
  text-align: none;
  color: var(--contrast-color);
  transition: 0.25s;
  text-decoration: none;
  font-family: Onest, sans-serif;
  font-weight: 500;
  color: var(--contrast-color);
  padding: 3px;
}

.header-container header nav ul li a:hover {
  color: var(--contrast-color);
  cursor: pointer;
}

.nav-responsive,
.hamburger-menu {
  display: none;
}

.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--detail-color);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-button > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-button > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-button {
  position: fixed;
  top: 38px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu-button > span::before {
  content: "";
  top: -8px;
}

.menu-button > span::after {
  content: "";
  top: 8px;
}

/*#endregion */

/*#region HOME */

.home {
  height: 100vh;
  width: var(--max-width-page);
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 1536px;
}

.home-text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
  text-align: left;
}

.info-image {
  width: 25%;
  justify-content: center;
  display: flex;
}

.info-image img {
  object-fit: contain;
  width: 300px;
  border-radius: 9999px;
  height: auto;
  display: block;
}

.info {
  width: 75%;
}

.info-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--contrast-color);
}

.info-subtitle {
  padding-right: 1rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  animation: move 5s ease infinite;
  background-image: linear-gradient(90deg, #64748b 50%, #505b6b 100%);
}

.info-text {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2.3rem;
  color: var(--contrast-color);
  line-height: 1.5;
}

@keyframes move {
  0%,
  100% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 0% 200%;
  }
}

.social-media {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.social-media li a {
  background-image: linear-gradient(to top right, white, rgb(243, 242, 242));
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--contrast-color);
  border-radius: 500px;
  border: 1px solid rgb(203 213 225);
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  transition: transform 0.2s;
  box-shadow: 0 1px 1px rgba(85, 84, 84, 0.1);
}

.social-media li a:hover {
  transform: scale(1.05);
}

.social-media li a svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*#endregion */

/*#region EXPERIENCE*/

.experience {
  width: var(--max-width-page);
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
}

.experience-title {
  margin-top: 2rem;
}

.experience-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 3.5rem;
  width: 100%;
  max-width: 1536px;
}

.experience-list {
  border-left: 1px solid #adaaaa;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.experience-list li {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.experience-icon {
  border-radius: 500px;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  left: -0.75rem;
  margin-top: 10px;
  position: absolute;
  color: rgb(222 243 255);
  background-color: var(--detail-color);
}

.experience-icon svg {
  width: 1rem;
  height: 1rem;
  display: block;
}

.experience-info {
  padding-top: 7px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding-bottom: 3rem;
  display: grid;
  margin-left: 1rem;
  position: relative;
}

.left-info {
  grid-column: span 2 / span 2;
  padding-bottom: 3rem;
  position: relative;
}

.left-container {
  top: 0;
  position: sticky;
}

.left-container h3 {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--detail-color);
}

.left-container h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--contrast-color);
}

.time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0;
  margin: 0;
  color: #4b5563cc;
}

.right-info {
  grid-column: span 4 / span 4;
  color: var(--contrast-color);
  padding-bottom: 1rem;
  gap: 0.5rem;
  flex-direction: column;
  display: flex;
  position: relative;
}

/*#endregion*/

/*#region RESPONSIVE */

@media screen and (max-width: 1000px) {
  .home {
    width: 100%;
  }

  .info-image {
    display: none;
  }

  .social-media {
    margin-top: 2.6rem;
    justify-content: center;
  }

  .experience {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .left-info {
    flex-direction: row;
    grid-column: none;
  }

  .right-info {
    flex-direction: row;
    grid-column: none;
  }
}

@media screen and (max-width: 750px) {
  .home {
    padding: 0;
  }

  .info {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .nav-responsive,
  .hamburger-menu {
    display: block;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: transparent;
    width: 100%;
  }

  nav.responsive ul {
    display: block !important;
    backdrop-filter: blur(10px);
  }

  nav.responsive ul li {
    border-bottom: 0px solid #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
  }

  .menu {
    --s: 20px;
    --c: var(--contrast-color);
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s) / 2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
      content-box border-box;
    --_g2: radial-gradient(
        circle closest-side at 50% 12.5%,
        var(--c) 95%,
        #0000
      )
      repeat-y content-box border-box;
    background: var(--_g2) left var(--_p, 0px) top,
      var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
      var(--_g2) right var(--_p, 0px) top,
      var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
    background-size: 20% 80%, 40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition: background-position 0.3s var(--_s, 0.3s),
      clip-path 0s var(--_s, 0.6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 3px;
  }

  .menu:before,
  .menu:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
  }

  .menu:checked {
    clip-path: inset(0);
    --_p: calc(-1 * var(--s));
    --_s: 0s;
  }

  .menu:checked:before {
    transform: rotate(45deg);
  }

  .menu:checked:after {
    transform: rotate(-45deg);
  }

  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }
}

@media screen and (max-width: 640px) {
  .social-media {
    padding-left: 50px;
    justify-content: left;
  }
}

/*#endregion */
