* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: Onest, sans-serif;
}

:root {
  --bg-primary-color: white;
  --bg-second-color: #fafafa;
  --contrast-color: #334155;
  --detail-color: #7843e9;
  --fade-color: #7843e952;

  --max-width-page: 850px;
}

.background {
  height: 100vh;
  z-index: -2;
  top: 0;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    var(--fade-color),
    hsla(0, 0%, 100%, 0)
  );
}

/*#region GENERIC */

.purple {
  color: var(--detail-color);
}

.section {
  width: var(--max-width-page);
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
}

.title {
  font-size: 1.875rem;
  font-weight: 600;
}

.contrast-color {
  color: var(--contrast-color);
}

.flex {
  display: flex;
}

.absolute {
  position: absolute;
}

.m0p0 {
  margin: 0;
  padding: 0;
}

.pad05 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.width100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.center {
  align-items: center;
  justify-content: center;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/*#endregion */

/*#region HEADER */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.6s;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header-container header {
  max-width: 890px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.header-container header .logo img {
  width: 80px;
  height: 33px;
  padding-top: 5px;
}

.header-container header ul {
  display: flex;
  list-style: none;
  gap: 45px;
}

#nav ul li {
  transition: all 0.6s;
}

#nav ul li a {
  color: var(--contrast-color);
  transition: 0.25s;
  text-decoration: none;
  font-weight: 500;
  user-select: none;
}

#nav ul li a:hover {
  color: var(--contrast-color);
  cursor: pointer;
}

.pad-bottom {
  padding: 3px;
}

.nav-responsive,
.hamburger-menu {
  display: none;
}

.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--detail-color);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before,
.underline:active:before {
  left: 0;
  right: 0;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-button > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-button > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-button {
  position: fixed;
  top: 38px;
  right: 20px;
  width: 26px;
  height: 26px;
  z-index: 1;
}

.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu-button > span::before {
  content: "";
  top: -8px;
}

.menu-button > span::after {
  content: "";
  top: 8px;
}

.lang-hover {
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 9999px;
  transition: background-color 0.15s ease;
}

.lang-hover:hover {
  background-color: var(--fade-color);
}

.change-language svg {
  height: 16px;
  width: 16px;
  fill: var(--contrast-color);
  margin-top: 7px;
}

#language-options {
  background-color: var(--bg-second-color);
  display: none;
  position: absolute;
  flex-direction: column;
  border-radius: 0.65rem;
  border: 1px solid rgb(203 213 225);
  transform: translateX(-35%);
  margin-top: 2px;
  background-image: linear-gradient(to top right, white, rgb(243, 242, 242));
  box-shadow: 0 4px 3px rgba(85, 84, 84, 0.1);
  z-index: 5;
  transition: opacity 0.1s linear;
  opacity: 0;
}

#language-options > span {
  border: 1px solid rgba(203, 213, 225, 0.432);
}

#language-options a {
  padding: 6px 12px;
}

#language-options.show {
  opacity: 1;
}

#language-options.hide {
  opacity: 0;
  display: none;
}

/*#endregion */

/*#region HOME */

.home {
  width: var(--max-width-page);
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10rem;
  max-width: 1536px;
}

.home-text {
  flex-direction: row;
  text-align: left;
}

.info-image {
  width: 200px;
  height: 200px;
  justify-content: center;
}

.info-image img {
  object-fit: contain;
  width: 200px;
  height: auto;
  display: block;
}

.info {
  width: 75%;
  margin-left: 50px;
}

.info-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.info-subtitle {
  font-weight: 500;
  font-size: 1.1rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  animation: move 5s ease infinite;
  background-image: linear-gradient(90deg, #64748b 50%, #505b6b 100%);
}

.info-text {
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 1.25rem;
  line-height: 1.5;
}

@keyframes move {
  0%,
  100% {
    background-position: 200% 0%;
  }
  50% {
    background-position: 0% 200%;
  }
}

.social-media {
  gap: 1rem;
  margin-top: 1.25rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.social-media li a {
  background-image: linear-gradient(to top right, white, rgb(243, 242, 242));
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--contrast-color);
  border-radius: 1rem;
  border: 1px solid rgb(203 213 225);
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  transition: transform 0.2s;
  box-shadow: 0 1px 1px rgba(85, 84, 84, 0.1);
}

.social-media li a:hover {
  transform: scale(1.05);
}

.social-media li a object {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

.social-media li a object:hover {
  cursor: pointer;
}

.cv {
  font-weight: 700;
}

/*#endregion */

/*#region EXPERIENCE*/

.experience {
  padding-top: 5.5rem;
}

.experience-container {
  margin-top: 3rem;
  max-width: 1536px;
}

.experience-list {
  border-left: 1px solid #adaaaa;
  position: relative;
  list-style: none;
}

.experience-list li {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.experience-icon {
  border-radius: 500px;
  width: 1.5rem;
  height: 1.5rem;
  left: -0.75rem;
  margin-top: 10px;
  fill: white;
  background-color: var(--detail-color);
}

.experience-icon object {
  width: 1rem;
  height: 1rem;
  display: block;
}

.experience-info {
  padding-top: 7px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  display: grid;
  margin-left: 1rem;
  position: relative;
}

.left-info {
  grid-column: span 2 / span 2;
  padding-bottom: 3rem;
  position: relative;
}

.left-container {
  top: 0;
  position: sticky;
}

.left-container h3 {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--detail-color);
}

.left-container h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563cc;
}

.right-info {
  grid-column: span 4 / span 4;
  padding-bottom: 1rem;
  gap: 0.5rem;
  flex-direction: column;
  position: relative;
}

/*#endregion*/

/*#region PROJECTS */

.projects {
  padding-top: 3.5rem;
}

.project-list {
  margin-top: 2.5rem;
  row-gap: 4rem;
  flex-direction: column;
}

.project {
  flex-direction: row;
}

.project-img {
  width: 45%;
}

.img-border {
  border-radius: 1rem;
  overflow: clip;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 4px 4px rgba(85, 84, 84, 0.1);
}

.img-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-border img:hover {
  transform: scale(1.03);
}

.project-info {
  width: 55%;
  margin-right: 40px;
}

.project-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

.project-container {
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.project-stack {
  column-gap: 0.5rem;
  flex-direction: row;
  margin-bottom: 0.5rem;
  list-style: none;
  margin: 0;
}

.project-stack li span {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.55rem;
  column-gap: 0.5rem;
  display: flex;
  background-image: linear-gradient(to top right, white, rgb(243, 242, 242));
  border: 1px solid rgb(203 213 225);
  box-shadow: 0 1px 1px rgba(85, 84, 84, 0.1);
}

.project-text {
  margin-top: 0.5rem;
}

.project-buttons {
  column-gap: 1rem;
  margin-top: 1rem;
}

.project-buttons a {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.7rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  display: inline-flex;
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.preview {
  background-color: var(--detail-color);
}

.preview object, .code object {
  pointer-events: none;
}

.preview:hover {
  background-color: #652ce0;
}

.code {
  background-color: var(--contrast-color);
}

.code:hover {
  background-color: #273342;
}

.more-projects {
  justify-content: center;
  margin-top: 2.5rem;
}

.more-container {
  color: #111;
  text-decoration: none;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  align-items: center;
}

.more-projects svg {
  display: block;
  margin-left: 5px;
}

.more-projects object {
  display: block;
  margin-left: 5px;
}

.project-stack object {
  width: 1rem;
  height: 1rem;
}

/*#endregion */

/*#region MORE PROJECTS*/

.projects-data {
  font-size: 0.9rem;
  margin-top: 4.5rem;
  flex-direction: row;
}

.repos {
  justify-content: left;
}

.repos svg {
  margin-right: 7px;
}

.view-github {
  justify-content: right;
  text-decoration: none;
}

.view-github div svg {
  margin-left: 5px;
  transform: rotate(-45deg);
}

.portfolio {
  padding-bottom: 1.25rem;
}

/*#endregion */

/*#region ABOUT ME */

.about-me {
  padding-top: 5.5rem;
}

.about-me-container {
  margin-top: 25px;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: center;
}

.about-me-text {
  order: 1;
}

.about-me-text p {
  margin-bottom: 1rem;
}

.about-me-stack {
  order: 2;
}

.stack-list {
  margin-top: 7px;
  gap: 1.4rem;
  list-style: none;
}

.stack-list li svg {
  width: 2rem;
  height: 2rem;
}

.stack-card {
  padding: 0.35rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 0.65rem;
  z-index: 1;
  background-image: linear-gradient(to top right, white, rgb(248, 247, 247));
  border: 1px solid rgb(203 213 225);
  box-shadow: 0 1px 1px rgba(85, 84, 84, 0.1);
}

.stack-card:nth-child(2),
.stack-card:nth-child(3) {
  margin-top: 0.5rem;
}

.stack-list li {
  position: relative;
  display: inline-block;
}

.stack-list li .tooltiptext {
  visibility: hidden;
  font-size: 0.9rem;
  width: 110px;
  top: 100%;
  left: 50%;
  margin-left: -55px;
  background-color: var(--contrast-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
}

.stack-list li:hover .tooltiptext {
  visibility: visible;
}

/*#endregion */

/*#region FOOTER */

.footer {
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container span a {
  text-decoration: none;
  color: var(--contrast-color);
}

.footer-container span a:hover {
  text-decoration: underline;
}

.footer-container span {
  text-align: center;
  color: var(--contrast-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer-list {
  margin-top: 0;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;
}

.footer-list li a svg {
  width: 1.5rem;
  height: 1.5rem;
}

.git:hover,
.linkedin:hover {
  fill: #273342;
}

.mail:hover {
  stroke: #273342;
}

.git {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

/*#endregion */

/*#region RESPONSIVE */

@media screen and (max-width: 1000px) {
  .home {
    width: 100%;
  }

  .info-image {
    display: none;
  }

  .social-media {
    margin-top: 2rem;
  }

  .info {
    margin: 0;
    width: 80%;
  }

  .experience,
  .projects,
  .about-me,
  .footer {
    width: 80%;
  }

  .project {
    flex-direction: column-reverse;
    display: flex;
  }

  .project-info,
  .project-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .project-info {
    margin-top: 1rem;
    padding-left: 3px;
    margin-bottom: 20px;
  }

  .about-me-container {
    flex-direction: column;
    display: flex;
  }

  .stack-card {
    display: flex;
    align-items: center;
  }

  .stack-card span {
    margin-right: 2rem;
  }

  .stack-list li svg {
    width: 2.2rem;
    height: 2.2rem;
  }

  .more-projects {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 980px) {
  .left-info {
    flex-direction: row;
    grid-column: none;
    padding-bottom: 2rem;
  }

  .right-info {
    flex-direction: row;
    grid-column: none;
  }
}

@media screen and (max-width: 940px) {
  #language-options {
    transform: translateX(-70%);
  }
}

@media screen and (max-width: 750px) {
  .home {
    padding: 0;
    padding-top: 8rem;
  }

  .info {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .nav-responsive,
  .hamburger-menu {
    display: block;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  }

  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
  }

  nav.responsive ul {
    display: block !important;
    background-color: white;
    box-shadow: 0 4px 3px rgba(85, 84, 84, 0.1);
  }

  nav.responsive ul li {
    border-bottom: 0px solid #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
  }

  #language-options {
    transform: translateX(0%);
    position: relative;
    margin-top: 20px;
    border: none;
    background-color: white;
    background-image: none;
    box-shadow: none;
    gap: 15px;
  }

  .separator {
    display: none;
  }

  .lang-hover:hover {
    background-color: white;
  }
}

@media screen and (max-width: 640px) {
  .info {
    width: 90%;
    margin-left: 0;
  }
  .experience,
  .projects,
  .about-me,
  .footer {
    width: 90%;
  }

  .footer {
    margin-bottom: 1rem;
  }

  .stack-card span {
    margin-right: 0.5rem;
  }

  .stack-card {
    display: block;
  }
  .about-me-container {
    gap: 2.9rem;
  }
}

/*#endregion */
